* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start: Global style */
body {
  font-family: sans-serif;
  background-color: lightgrey;
}
input:focus {
  outline: none;
  background-color: lightgrey;
}

button, span, a {
  outline: none;
  border: none;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {margin: 0 -5px;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
  *html .clearfix {height: 1%;}
  .clearfix {display: block;}
  /* End hide from IE-mac*/
  /* @end */

/* end: Global style */


/* start; Acropolis style */
.golden-horizon-properties {
  width: 100%;
  background-color: white;
  margin: 10px 0;
}
.acropolis-title {
  max-width: 100%;
  padding: 5px 20px;
}
.acropolis-title h5 {
  font-size: 25px;
}
.acropolis-details {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.left-column {
  flex: 50%;
  padding: 15px;
}
.right-column {
  flex: 50%;
  padding: 15px;
}

.acropolis-photo-gallery img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* start: Thumbnail style */
.thumbnails {
  margin-right: -15px;
}
.thumbnails a {
  float: left;
  width: 20%;
  padding-right: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.thumbnails img {
  display: block;
  transition: all .2s ease-in-out;
}

.thumbnails:hover img {
  opacity: .6;
  transform: scale(.92);
}

.thumbnails img:hover {
  opacity: 1;
  transform: scale(1) rotate(2deg);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}
/* end: Thumbnail style */

/* end: Acropolis style */

/* start: Video style */
iframe {
  width: 100%;
  height: 200px;
}
/* end: Video Style */


/* start: Style for the rigth column */
.tabcontent-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tabcontent h3 {
  padding: 0 0 10px 0;
}
.tabcontent-info {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.tabcontent-info span {
  font-size: 10px;
}

.tabcontent-info > div {
  padding-right: 8px;
}
.tabcontent-icon {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.tabcontent-icon > div {
  padding-right: 8px;
}
.tabcontentRight {
  display: flex;
  padding-left: 50px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ccc;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  max-width: 100%;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#Location {
  width: 100%;
}
/* end: Style for the right column */

@media screen and (max-width: 600px) {
  .thumbnails a {
    float: left;
    width: 33%;
    padding-right: 5px;
  }
  .thumbnails {
    margin-right: 0px;
    width: 100%;
  }
  .golden-horizon-properties {
    width: 100%;
  }
}


#map {
  height: 120px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #map {
    height: 200px;
    width: 100%;
  }
}
