* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start: Global style */
body {
  font-family: sans-serif;
}
input:focus {
  outline: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 5px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* end: Global style */

/* start: Navbar style */
header {
  background-color: dodgerblue;
}
.navbar {
  display: flex;
  background: dodgerblue;
}

.navbar a {
  font-size: 18px;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 480px) {
  .navbar {
    display: none;
    flex-direction: column;
  }
  .navbar a {
    border-bottom: 1px solid white;
    display: block;
  }
  .menuIcon {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    line-height: 10px;
    border-bottom: 1px solid white;
  }
  .bar1 {
    margin-top: 11px;
  }
  .bar3 {
    margin-bottom: 8px;
  }
}
/* end: Navbar style */

/* start: Main container style */
#houseTemplate {
  max-width: 1140px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.houses {
  width: 30%;
  background-color: white;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.house-photo {
  max-width: 100%;
  height: 250px;
}
.text-container {
  background-color: white;
  padding: 4px 6px;
}

.type {
  font-size: 11px;
  margin-left: 5px;
}

.houses span {
  margin-left: 10px;
}
img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 900px) {
  #houseTemplate {
    display: flex;
    justify-content: space-between;
  }
}
/* end: Main container style */
