* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start: Global style */
body {
  font-family: sans-serif;
}
input:focus {
  outline: none;
}

button, span, a {
  outline: none;
  border: none;
  background-color: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 10px;
}

.row {margin: 0 -5px;}

img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
  *html .clearfix {height: 1%;}
  .clearfix {display: block;}
  /* End hide from IE-mac*/
  /* @end */

/* end: Global style */

/* start: Navbar style */
nav {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
}
.brand-logo {
  width: 70px;
  height: 65px;
  float: left;
  margin-left: 10px;
}

.brand-name {
  width: 200px;
  float: left;
  font-family: sans-serif;
  color: white;
  font-size: 24px;
  line-height: 62px;
  padding: 0px 20px;
}
.brand-name a {
  text-decoration: none;
  color: white;
}
.navbar ul {
  float: right;
  padding: 0 20px;
}

.navbar ul li {
  float: left;
  list-style: none;
  position: relative;
}
.navbar ul li a {
  display: block;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  padding: 24px 14px;
  text-decoration: none;
}

.navbar ul li ul {
  display: none;
  position: absolute;
  background-color: dodgerblue;
  z-index: 1;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

.navbar ul li:hover ul {
  display: block;

}
.navbar ul li ul li {
  width: 180px;
  border-radius: 4px;
}

.navbar ul li ul li a {
  padding: 8px 14px;
}

.navbar ul li ul li a:hover {
  background-color: white;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
}

/* start: Menu icon */
.menuIcon {
  display: none;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 6px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-50deg) translate(-8px, 5px);
  transform: rotate(-50deg) translate(-8px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(50deg) translate(-5px, -5px);
  transform: rotate(50deg) translate(-5px, -5px);
}
/* end: Menu icon */

@media only screen and (max-width: 600px) {
  .navbar {
    display: none;
    flex-direction: column;
  }
  .navbar a {
    display: flex;
    text-align: center;
    border-bottom: 1px solid white;
  }
  .menuIcon {
    display: block;
    margin-left: 35px;
  }
}
/* end: Navbar style */

/* start: Style for the search container */
#searchContainer {
  background: url(../images/map.gif) center center no-repeat;
  background-size: 100% 100%;
  height: 500px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 30%;
  padding: 8px;
  display: flex;
  background-color: dodgerblue;
}
.searchBar button {
  background-color: tomato;
  height: 35px;
  width: 20%;
  cursor: pointer;
  color: white;
}

.searchBar button:hover {
  background-color: yellow;
  color: black;
}
.searchBar input {
  width: 80%;
  height: 35px;
  padding: 10px;
  border: none;
  color: black;
}

@media only screen and (max-width: 480px) {
  #searchContainer {
    height: 235px;
  }
  .searchBar {
    width: 80%;
    padding: 5px;
  }
  .searchBar input {
    height: 25px;
  }
  .searchBar button {
    height: 25px;
  }
}
/* end: Style for the search container */

/* start: Flex container */
#properties {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.column-last {
  margin: 0;
}

.golden {
  position: relative;
  background: url(../images/sofia.jpeg) center center no-repeat;
  background-size: 100% 100%;
  height: 250px;
}

.solar {
  position: relative;
  background: url(../images/nathalie.jpg) center center no-repeat;
  background-size: 100% 100%;
  height: 250px;
}
.amaia {
  position: relative;
  background: url(../images/amaia2.jpeg) center center no-repeat;
  background-size: 100% 100%;
  height: 250px;
}
.imperial {
  position: relative;
  background: url(../images/imperial.jpg) center center no-repeat;
  background-size: 100% 100%;
  height: 250px;
}
.amara {
  position: relative;
  background: url(../images/amara.jpg) center center no-repeat;
  background-size: 100% 100%;
  height: 250px;
}
.manors {
  position: relative;
  background: url(../images/manors1.jpg) center center no-repeat;
  background-size: 100% 100%;
  height: 250px;
}
.btn1 a {
  text-decoration: none;
  color: white;
}

.btn1 {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: dodgerblue;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: tomato;
  color: black;
}

.viewAll {
  width: 30%;
  background-color: white;
  border: 1px  solid dodgerblue;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-left: 35%;
  cursor: pointer;
}

.viewAll:hover {
  background-color: dodgerblue;
  color: white;
}

@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* end: Flex container */

/* start: Footer style */
#footer {
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.875em;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.footer-about-us {
  flex: 33.33%;
  text-align: justify;
  padding: 10px 20px;
  line-height: 20px;
}

.footer-about-us h4 {
  margin-bottom: 5px;
}

.footer-menu {
  flex: 33.33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  line-height: 25px;
  padding: 10px 0;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-icon {
  flex:33.33%;
  padding: 10px;
}

.image-resize {
  max-width: 100%;
  height: auto;
}

.footer-icon h4 {
  margin-bottom: 8px;
}
.footer-icon span img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  #footer {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  .footer-about-us {
    flex: 100%;
    max-width: 100%;
    border-bottom: 1px dotted white;
    margin-bottom: 5px;
    padding: 5px 0px;
  }
  .footer-menu {
    flex: 100%;
    max-width: 100%;
    border-bottom: 1px dotted white;
  }
  .footer-icon {
    flex: 100%;
  }
  #footer2 {
    font-size: 13px;
  }
}
/* end: Footer style */

/* start: Footer2 style */
#footer2 {
  background-color: gray;
  border-top: 1px dotted white;
  max-width: 100%;
  font-size: 0.875em;
  text-align: center;
  padding: 10px 0;
  color: white;
}
/* end: Footer2 style */

/* Style fot the contact us page */
#map {
  height: 500px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  #map {
    height: 200px;
  }
}

/* start: Main section */
#mainSection {
  max-width: 100%;
  margin: 20px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.sideBar {
  flex: 40%;
  padding: 0 20px;
  color: white;
}

.offAdd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: dodgerblue;
  max-width: 100%;
  height: 100%;
  padding: 20px 7px 20px 20px;
}

.offAdd h4 {
  text-align: left;
  color: gold;
  text-shadow: 2px 2px 5px black;
}
.offAdd h5 {
  font-size: 1.063em;
}

.offAdd p {
  font-size: 0.875em;
  line-height: 18px;
}

/* start: Cavite office address style */
.cavite {
  height: 100%;
}

.cavite .icon {
  font-size: 20px;
  margin-right: 10px
}
.cavite h4 {
  margin-bottom: 10px;
  font-size: 1.125em;
}

.cavite h6 {
  font-size: 1.063em;
}
.cavite-icon {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  text-align: justify;
}
.cavite-contact-icon {
  display: flex;
  margin-bottom: 8px;
}

.email {
  display: flex;
  width: 100%;
}

/* end: Cavite office address style */

/* start: Bulacan office address style */
.bulacan {
  height: 100%;
  color: white;
}

.bulacan h4 {
    margin-bottom: 10px;
    font-size: 1.125em;
}

.bulacan h6 {
  font-size: 1.063em;
}

.bulacan .icon {
  font-size: 20px;
  margin-right: 10px;
}
.bulacan-icon {
  display: flex;
  width: 100%;
  text-align: justify;
}

.contactIcon {
  display: flex;
}

/* end: Bulacan style */
.contactForm {
  flex: 60%;
  padding: 0 50px;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contactForm h4 {
  padding: 0 0 20px 0;
}

.contactForm input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactForm input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactForm input[type=submit]:hover {
  background-color: #45a049;
}
/* end: Main section */

@media only screen and (max-width: 480px) {
  .contactForm {
    flex: 100%;
    padding: 0 10px;
    margin: 10px 0;
  }
  .sideBar {
    flex: 100%;
  }
  .contactForm h4 {
    padding: 0 0 2px 0;
  }
  .bulacan {
    margin-top: 50px;
  }

}
/* Style for the contact us page */
