* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start: Global style */
input:focus {
  outline: none;
}

/* end: Global style */

/* start: Navbar style */
header {
  background-color: dodgerblue;
}
.navbar {
  display: flex;
  background: dodgerblue;
}

.navbar a {
  font-size: 18px;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
}

/* start: Flex container */
#properties {
  max-width: 100%;
  padding: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  width: 400px;
  height: 250px;
  margin: 10px;
  line-height: 75px;
}

.manors {
  background: url(../images/manors1.jpg) center center no-repeat;
  background-size: 100% 100%;
}

.amaia {
  background: url(../images/amaia2.jpeg) center center no-repeat;
  background-size: 100% 100%;
}

.solar {
  background: url(../images/lasbrisas.jpg) center center no-repeat;
  background-size: 100% 100%;
}

.imperial {
  background: url(../images/imperial.jpg) center center no-repeat;
  background-size: 100% 100%;
}

/* end: Flex container */

/* start: Style for the search container */
#searchContainer {
  width: 100%;
}

.search {
  background: url(../images/map.gif) center center no-repeat;
  background-size: 100% 100%;
  height: 500px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
/* end: Style for the search container */

/* start: Footer style */
#footer {
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.footer-about-us {
  flex: 33.33%;
  text-align: justify;
  padding: 0 20px;
}

.footer-menu {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon {
  flex:33.33%;
  padding: 10px;
}

.image-resize {
  max-width: 100%;
  height: auto;
}

.footer-icon h4 {
  margin-bottom: 8px;
}
.footer-icon span img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  #footer {
    display: flex;
    flex-direction: column;
  }
  .footer-about-us {
    flex: 100%;
  }
  .footer-menu {
    flex: 100%;
  }
  .footer-icon {
    flex: 100%;
  }
}
/* end: Footer style */
