* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background: dodgerblue;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }
}

/* start: Style for the search container */
#searchContainer {
  width: 100%;
}

.search {
  background: url(../images/map.gif) center center no-repeat;
  background-size: cover;
  height: 500px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
/* end: Style for the search container */

/* start: Footer style */
#footer {
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-about-us {
  flex: 33.33%;
}

.footer-menu {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
}

.footer-icon {
  flex:33.33%;
  padding: 10px;
}

.image-resize {
  max-width: 100%;
  height: auto;
}

.footer-icon h4 {
  margin-bottom: 8px;
}
.footer-icon span img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .footer-about-us {
    flex: 100%;
  }
  .footer-menu {
    flex: 100%;
  }
  .footer-icon {
    flex: 100%;
  }
}
/* end: Footer style */
