* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start: Global style */
input:focus {
  outline: none;
}

/* end: Global style */

/* start: Navbar style */
header {
  background-color: dodgerblue;
}
.navbar {
  display: flex;
  background: dodgerblue;
}

.navbar a {
  font-size: 18px;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menuIcon {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 480px) {
  .navbar {
    display: none;
    flex-direction: column;
  }
  .navbar a {
    border-bottom: 1px solid white;
    display: block;
  }
  .menuIcon {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    line-height: 10px;
    border-bottom: 1px solid white;
  }
  .bar1 {
    margin-top: 11px;
  }
  .bar3 {
    margin-bottom: 8px;
  }
}
/* end: Navbar style */

/* start: Style for the search container */
#searchContainer {
  width: 100%;
}

.search {
  background: url(../images/map.gif) center center no-repeat;
  background-size: 100% 100%;
  height: 500px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .search {
    height: 200px;
  }
}
/* end: Style for the search container */

/* start: Flex container */
#properties {
  max-width: 100%;
  padding: 20px 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  width: 400px;
  height: 250px;
  margin: 10px;
  line-height: 75px;
}

.manors {
  background: url(../images/manors1.jpg) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.amaia {
  background: url(../images/amaia2.jpeg) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.solar {
  background: url(../images/lasbrisas.jpg) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.imperial {
  background: url(../images/imperial.jpg) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.btn1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  background-color: dodgerblue;
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {
  #properties {
    max-width: 100%;
    padding: 10px 20px;
  }
  .flex-container > div {
    width: 100%;
    height: 180px;
  }
  .btn1 {
    font-size: 14px;
  }
}
/* end: Flex container */

/* start: Footer style */
#footer {
  background-color: gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  color: white;
}

.footer-about-us {
  flex: 33.33%;
  text-align: justify;
  padding: 0 20px;
  line-height: 20px;
}

.footer-about-us h4 {
  margin-bottom: 5px;
}

.footer-menu {
  flex: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 25px;
}

.footer-menu a {
  text-decoration: none;
  color: white;
}

.footer-icon {
  flex:33.33%;
  padding: 10px;
}

.image-resize {
  max-width: 100%;
  height: auto;
}

.footer-icon h4 {
  margin-bottom: 8px;
}
.footer-icon span img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  #footer {
    display: flex;
    flex-direction: column;
  }
  .footer-about-us {
    flex: 100%;
    max-width: 100%;
    border-bottom: 1px dotted white;
    margin-bottom: 5px;
    padding: 5px 0px;
  }
  .footer-menu {
    flex: 100%;
    max-width: 100%;
    border-bottom: 1px dotted white;
  }
  .footer-icon {
    flex: 100%;
  }
}
/* end: Footer style */

/* start: Footer2 style */
#footer2 {
  background-color: gray;
  border-top: 1px dotted white;
  max-width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
}
/* end: Footer2 style */
